<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium Testng Template">

    <listeners>
        <listener class-name="settings.Listener"/>
    </listeners>

    <test name="GoogleTest">
        <classes>
            <class name="tests.GoogleTests"/>
        </classes>
    </test>
</suite>